/* IMPORTANDO as fontes do GOOGLE */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Zerar as MARGENS de todos os elementos  da página.
MARGENS externas e internas */

*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}

html{
    scroll-behavior: smooth;
    }

/* Vamos adicionar uma imagem ao fundo do HEADER */

header{
    background-image: url("../img/cafeteira1.jpg");
    /* Ajustar o tamanho da IMAGEM em 100% de largura */
    background-size: 100%;
    /* Ajustar a posição da imagem em X & Y */
    background-position: 0px -200px ;   
    height: 400px;
    padding: 35px;
    
    
    

    
     
}
nav{
    /* tornando o conteudo da NAV flexível(flex).Isso permite que os elementos fique um ao lado do outro */
    display: flex;
    /* alinhamento vertical do ELEMENTOS que estão na NAV */
    align-items:center;

}

h1{
    /* Mudar a COR da letra */
    color: rgb(241, 241, 241);
    /* alterar o TIPO de letra */
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 25pt;
    /* Voce pode alterar o TAMANHO DA CAIXA ALTA OU BAIXA */
    text-transform: capitalize;
    margin-right: 100px;
    text-shadow: 0px 0px 5px rgb(25, 24, 24);
       
}

ul{

/* Retirar o marcador da LISTA */
list-style: none;

}

/* Sempre colocar o caminho UL LI... */
header ul li{
    /* vamo ajustar a disposição(display) dos ITENS da lista em formato de linha */
    display: inline-block;  
    margin-left: 20px;
    margin-right: 20px;
    padding: 4px;
    transition: 1s;
    border-radius: 40%;
   
}
header ul li:hover{
    background-color: #d1c4e9;
    
}
header ul a{
    color:  whitesmoke;
    /* Vamos retirar o underline(sublinhado) */
    text-decoration: none;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 5px rgb(25, 24, 24);
    }

header h2{
    
    color: white;
    text-align: center;
    margin-top: 70px;
    font-family: "Titillium Web", sans-serif;
    font-size: 30pt;
    font-weight: 600;
    text-shadow: 0px 0px 10px black;

}
header p{
    font-family: "Lexend", sans-serif;
    font-size: 12pt;
    color: whitesmoke;
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
    text-shadow: 0px 0px 20px black;
}

footer{
    background-color: #d6c6f2 ;
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    color: whitesmoke
    
    
                                         
}

footer #redesSociais li{
    /* colocar as redes em linha */
    display: inline-block;
    margin-right: 25px ;
    padding-top: 100px;
    padding-bottom: 100px;

}

footer #end{
    /* alinhamento do endereço junto a redes sociais */
    
  
    margin-right: 30px ;
    padding-top: 100px;
    padding-bottom: 100px;
    
}

/* --------------------formatação da página INDEX------------------------- */

main h2{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 50px;
    font-size: pt;
    text-transform: capitalize;
    text-align: center;
    
}

main #home p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 50px 30px 50px;
    font-size: 12pt;
    /* O comando line-height define a altura da linha
    (espaçamento entre linhas).Estamos usando uma altura
    de 1,5, ou seja, o tamanho da fonte mais o meio do tamanho
    da fonte */
        /* comando para jutificar caso queira ----> text-align: justify; */
    line-height: 18pt;
    }

main #imghome img{
    width: 400px;
    height: 400px;
    margin: 150px;
    /* arredondar imagens */
    border-radius: 200px;
    /* Vamos aplicar um efeito de transparencia
    na imagen, utilizando o comando opacity que 
    varia entre 0 e 1, ou seja, se você aplicar 0.6,
    significa que você está usando 60% de opacidade.Isso
    representa 60% de visiblidade */
    opacity: 0.7;
    /* O comando TRANSITION realiza uma animação de transição,
    que você pode configurar o tipo de transição e o tempo da trasição */
    transition: ease 1s;
}

main #imghome img:hover{
    opacity: 1;

}
main #imghome{
    text-align: center;
}

/* ---------------formatação da páguna cárdapio------------------------ */

main #categoriacardapio{
    width: 80%;
    /* vamos centralizar a caixa
    modificando a margen da esquerda e da
    direita com auto de autmático */
    margin-left: auto;
    margin-right: auto;
    /* aplicar a disposição flex, para deixar as imagens
    uma ao lado da outra */
    display: flex;
    /* alinhar o conteudo ao centro */
    justify-content: center;
    align-items: center;
    margin-top: -50px;

}

.itemCardapio img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: block;
    box-shadow: 0px 0px 10px rgb(10, 10, 10);
    margin-bottom: 10px;
    
}

.itemCardapio{
    
    text-align: center;
    margin: 15px;
    
}

.itemCardapio a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}

.linha{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    justify-content: center;
    
}

.item{
    width: 25%;
    display: flex;
    margin: 40px;
    
}

.item img{
    width: 190px;
    height: 150px;
    border-radius: 10px;
}

.item div h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
    margin: 5px

}

.item div p{
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    font-size: 10pt;
}

#cafes h2, #salgados h2 ,#doces h2{
    font-size: 25pt;
    margin-left: 200px;
}


/* -----------------pagina QUEM SOMOS------------------------------ */

main p{
    
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-size: 16pt;
    height: 20pt;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 90px;
}

#video{
    text-align: center;
    
}

#video iframe{
    width: 50%;
    height: 500px;
    margin: 60px;
}

#mapa{
    text-align: center;
}

#mapa iframe{
    width: 50%;
    height: 400px;
    margin: 50px;
}
/* -----------------contato------------------ */
form{
    /* border: 4px solid red; */
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding: 10px;
    box-shadow: 0px 2px 5px black;
    justify-items: center;
}

input[type=text], 
input[type=tel], 
input[type=email],
select {
    display: block;
    width: 90%;
    padding: 8px;
    margin-bottom: 11px;
    border:0px;
    /* retira a borda */
    outline: none;
    border-bottom: 1px solid #e1bee7;
}

select{
    width: 45%;
    
}

textarea{
    width: 100%;
    height: 200px;
    resize: none;
    outline-color: #d1c4e9;
}
form span{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}

input[type=submit]{
    padding: 10px 30px;
    border: 0;
    background: #e1bee7;
    /* mouse vira uma mão */
    cursor: pointer;
    display: block;
    margin: 20px auto 15px auto;
}

/* formatação para o contato whatsapp */

#whatsapp{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 40px;
    right: 75px;
   
}

#whatsapp img{
    width: 100%;
    
}
